<div fxFlex fxFlexOffset="20px"   class="form-size" >
    <h3>Send us your Feedback</h3>
    

    <form novalidate [formGroup]="feedbackForm"  #fform="ngForm"  (ngSubmit)="onSubmit()">
      <!-- <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p> -->
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="name" placeholder="Name" type="text" required>
          <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>

        </mat-form-field>
       
      </p>
      <p>
       
        <mat-form-field class="half-width">
          <input matInput formControlName="email" placeholder="Email" type="email" email required>
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>

        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput formControlName="phone" placeholder="Phone" type="tel" pattern="[0-9]*" required>
            <mat-error *ngIf="formErrors.phone">{{formErrors.phone}}</mat-error>
  
          </mat-form-field>
      </p>
      
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
          <mat-error *ngIf="formErrors.message">{{formErrors.message}}</mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-raised-button [disabled]="feedbackForm.invalid" color="primary"  class="primary text-floral-white">Submit</button>
    </form>
  </div>
 
 

 
  
  