<mat-toolbar color="primary">
    <span class="gap">Revalsys</span>   
    <span class="gap" ><a (click)="goToProductsPage()">Products</a></span> 
    <span class="gap"><a routerLink="/feedback">Feedback</a></span>
    <span class="filler"></span>
    <span><a routerLink="/login">Login</a></span>
</mat-toolbar>