
<div fxLayout.xs="column" fxLayout="row wrap"  ngClass.gt-xs="ml-10" style="margin-top: 3%;"> 
  <mat-form-field>
    <mat-select name="filterVaraible" [(value)]="selectedFilter" placeholder="Filter" (selectionChange)="onChangeFilter($event)">
      <mat-option *ngFor="let filter of filters" [value]="filter.value" >
        {{filter.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10" infiniteScroll (scrolled)="onScroll($event)">
<!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px"> -->
  <ng-container > 
<mat-card  class="example-card " *ngFor="let product of products; index as i" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image" ></div> -->
      <mat-card-title>{{product.ProductTitle}}</mat-card-title>
      <mat-card-subtitle>{{product.Collection}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <div *ngFor="let img of product.ImagesList; let i=index">
      <img  *ngIf="img" mat-card-image src="{{product.ListImagePath+ img[i]}}"  alt="Photo of a Shiba Inu">

    </div> -->
    <!-- <div *ngFor="let item of items; let i=index" >
      <img  [src]="over[i] ? './assets/img/thumb-up.png' : './assets/img/other.png'" 
            (mouseover)="over[i] = true"
            (mouseout)="over[i] = false">
    </div> -->
    
    <img  *ngIf="product.ImagesList" mat-card-image  src="{{product.ListImagePath+ product.img}}"  alt="Photo of a Shiba Inu"  (hover)="toggleImg(i)" (mouseenter)="toggleImg(i)" 
    >
    <mat-card-content>
        
        <mat-grid-list cols="4">
            <mat-grid-tile>
                {{product.StyleName}}
            </mat-grid-tile>
            <mat-grid-tile>
                {{product.StyleNumber}}
            </mat-grid-tile>
            <mat-grid-tile>
               Quantity: {{product.NetQuantity}}
            </mat-grid-tile>
            <mat-grid-tile>
                {{product.AvailableSizes}}
            </mat-grid-tile>

        </mat-grid-list>
        <h3> {{product.Price | currency}}</h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button> $ PURCHASE</button>
      <button mat-raised-button color="warn">ADD TO CART</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
  </div>


  <!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card *ngFor="let member of members" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{member.title}}</mat-card-title>
        <mat-card-subtitle>{{member.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="member.url" alt="Photo of {{member.title}}">
      <mat-card-content>
        <p>
          {{member.content}}
        </p>
      </mat-card-content>
    </mat-card>
  </div> -->
  
  